body{
    background-image: url("imagestask3/background.png");
    background-size:cover;
}
.logobar{
    display:flex;
    gap:333px;
    align-items:center;
    margin-right: 176px;
    margin-left:166px;
    width:1160px;
}
.accountsection{
    display:flex;
    align-items:center;
    gap:10px;
}
.accountsection > div{
    padding-bottom: 0;
}

.accountsection > div:not(:last-child)::after{
    content: '|';
    padding-left: 15px;
}
.navigationbar{
    display:flex;
    gap:15px;
    background-color:rgb(215, 215, 213);
    padding: 3px 176px;
    width:1160px;
    font-family: verdana;
    font-size:13.6px;
    height:35px;
    align-items:center;
    position: relative;
}
.navigationbar::after{
    border: 1px solid rgb(215, 215, 213);
    content: '';
    position:absolute;
    top:-4px;
    bottom:-4px;
    right: 0px;
    left: 0px;
}
.navigationbar{
    border-bottom:1px solid rgb(215, 215, 213);
    border-top:1px solid rgb(215, 215, 213); 
}
.navigationitem{
   
    padding-top: 13px;
}
.navigationbar > .navigationitem:not(:last-child){
    border-right: 1px solid white;
    
    padding-right: 15px;
    height:35px;
}
.searchbartop{
  padding-left:100px;
}
.searchbartop > input{
    width:185px;
}
.offersbar{
    display:flex;
    margin-right: 176px;
    margin-left:176px;
    gap:219px;
    font-family:'Yu gothic';
    align-items:center;
    color:rgb(57,69,106);
   
}
.offerbarouter{
    border-bottom: 1px solid gray;
}
.offers{
    align-items:center;
    display:flex;
    gap:35px;
}
.offers > div:not(:first-child)::before{
    content: '◦';
    padding-right:15px;
    
}
.bridalimage{
    height:40px;
    padding-top:5px;
}
.bridalcontainer{
    display:flex;
    align-items:center;
    gap:12px;
}
.about{
    display:flex;
    margin-right: 176px;
    margin-left:176px;
    gap:90px;
    height:530px;
    border: 10px solid white;
    margin-top: 9px;
}
.tableimage{
    margin-bottom:0;
    margin-right: -89px;
    padding-bottom: 0;
    flex-grow: 4;
    border-right: 8px solid white;
}
.tableimage > img{
    object-fit: fill;
    width: 820px;
    height: 530px;
    padding-bottom: 0;
}
.dressyourtable{
    background-color:rgb(55,54,52); 
    color:white;
    padding:40px;
    width:230px;
    font-family:'Yu gothic';
    position: relative;
}
.dressyourtable::after{
    border: 1px solid white;
    content:'';
    position:absolute;
    top:6px;
    bottom:6px;
    right: 6px;
    left: 6px;
}
.dressyourtable > h2{
    font-weight: lighter;
    font-size: 31px;
    padding-top: 0;
    margin-top:10px;
}
.typeoftables:not(:last-child){
    border-bottom:1px groove darkgray;
    margin-left: 0;
}
.typeoftables{
    padding-bottom: 5px;
    padding-top:5px;
}
.seemore{
    padding-top: 20px;
}
.seemore > a{
    color:darkgray;
    font-size: 13px;
}
.dressyourtable > p{
    color:darkgray;
    font-size: 14px;
}
.collection{
    display:flex;
    margin-right: 176px;
    margin-left:176px;
    background-color: white;
    border:8px solid rgba(0,0,0,0.93);
    gap:18px;
    height: 196px;
    font-family:'Yu gothic';
    font-size:13px;
    line-height: 20px;
}
.collectionparas{
    color:gray;
}
.collectionheads{
    font-size:17px;
    font-weight:460;
}
.stemware , .homeaccents , .clearanceitems{
    font-size:15px;
    color:rgb(57,69,106);
    }
#frames{

    width:380px;
}
.frameimg{
    height:180px;
}
.plateimage{
    width:360px;
    height:120px;
}
#plates{
    width:380px;
}
#glasses{
    width:380px;
    padding-left: 10px;
    padding-top:30px;
}
#glasses ,#plates{
    border-right: 1px solid darkgrey;
}
#glasses > img{
    position: absolute;
    bottom: -184px;
    left: 193px;
    width: 337px;
    height: 170px;

}
.stemware{
    position: relative;
    left: 223px;
}
.glassmatter{
    position: absolute;
    bottom: -125px;
}
.platematter{
    position: absolute;
    bottom: -126px;
}
#plates > img{
    position: absolute;
    bottom: -184px;
    left:570px;
}
.homeaccents{
    position: relative;
    left:200px;
}
#frames > img{
    position: absolute;
    right: 192px;
    bottom: -184px;
}
.framesmatter{
    position:relative;
}
.foot{
    display:flex;
    color:darkgray;
    margin-right: 176px;
    margin-left:176px;
    gap:220px;
    font-family:'Yu gothic';
    font-size:13px;
    padding-top: 10px;
}
.emailbar{
    width:210px;
}
.signup{
    padding-left: 10px;
}
.signupbutton{
    border: 1px solid black;
    border-radius: 4px;
}
.footlink > span {
    text-decoration: underline;
    padding-right: 5px;   
}
.emailus{
    text-decoration: underline; 
}
.footlink  .footerlinks:not(:last-child)::after{
    content:'|';
    padding-left: 5px;
    text-decoration: none;
}   