body{
    background-image: url("imagestask3/background.png");
    background-size:cover;
}
.logobar{
    display:flex;
    gap:325px;
    align-items:center;
    margin-right: 176.5px;
    margin-left:166.5px;
    width:1149px;
}
.accountsection{
    display:flex;
    align-items:center;
    gap:10px;
}
.accountsection > div{
    padding-bottom: 0;
}

.accountsection > div:not(:last-child)::after{
    content: '|';
    padding-left: 15px;
}
.navigationbar{
    display:flex;
    gap:15px;
    background-color:rgb(215, 215, 213);
    padding: 3px 176.5px;
    width:1160px;
    font-family: verdana;
    font-size:13.6px;
    height:35px;
    align-items:center;
    
}
.navigationbar{
    border-bottom:1px solid rgb(215, 215, 213);
    border-top:1px solid rgb(215, 215, 213); 
}
.navigationitem{
   
    padding-top: 13px;
}
.navigationbar > .navigationitem:not(:last-child){
    border-right: 1px solid white;
    
    padding-right: 15px;
    height:35px;
}
.searchbartop{
  padding-left:100px;
}
.searchbartop > input{
    width:185px;
}
.offersbar{
    display:flex;
    margin-right: 176.5px;
    margin-left:176.5px;
    gap:230px;
    font-family:'Yu gothic';
    align-items:center;
    color:rgb(57,69,106);
   
}
.offerbarouter{
    border-bottom: 1px solid gray;
}
.offers{
    align-items:center;
    display:flex;
    gap:35px;
}
.offers > div:not(:first-child)::before{
    content: '◦';
    padding-right:15px;
    
}
.bridalimage{
    padding: 0 15px;;
}
.bridalregistry{
position: relative;
bottom: 13px;
left: 15px;
}
.about{
    display:flex;
    margin-right: 176.5px;
    margin-left:176.5px;
    gap:90px;
    border: 10px solid white;
    margin-top: 9px;
}
.tableimage{
    margin-bottom:0;
    margin-right: -89px;
  
    padding-bottom: 0;
    flex-grow: 4;
    border-right: 8px solid white;
}
.tableimage > img{
    object-fit: fill;
    width: 820px;
    height: 530px;
    padding-bottom: 0;
}
.dressyourtable{
    background-color:rgb(55,54,52); 
    color:white;
    padding:40px;
    width:230px;
    font-family:'Yu gothic';
    position: relative;
}
.dressyourtable::after{
    border: 1px solid white;
    content:'';
    position:absolute;
    top:6px;
    bottom:6px;
    right: 6px;
    left: 6px;
}
.dressyourtable > h2{
    font-weight: lighter;
    font-size: 31px;
    padding-top: 0;
}
.typeoftables:not(:last-child){
    border-bottom:1px groove darkgray;
    margin-left: 0;
}
.typeoftables{
    padding-bottom: 5px;
    padding-top:5px;
}
.seemore{
    padding-top: 20px;
}
.seemore > a{
    color:darkgray;
    font-size: 13px;
}
.dressyourtable > p{
    color:darkgray;
    font-size: 14px;
}
.collection{
    display:flex;
    margin-right: 176.5px;
    margin-left:176.5px;
    background-color: white;
    border:8px solid rgba(0,0,0,0.93);
    gap:18px;
    height: 196px;
    font-family:'Yu gothic';
    font-size:15px;
}
#frames{

    width:380px;
}
#plates{
    width:380px;
}
#glasses{
    width:380px;
    padding-left: 10px;
    padding-top:30px;
}
#glasses ,#plates{
    border-right: 1px solid grey;
}
#glasses > img{
    position: absolute;
    bottom: -185px;
}
.stemware{
    position: relative;
    left: 223px;
}
.glassmatter{
    position: absolute;
    bottom: -126px;
}
.platematter{
    position: absolute;
    bottom: -126px;
}
#plates > img{
    position: absolute;
    bottom: -185px;
}
.homeaccents{
    position: relative;
    left:200px;
}
#frames > img{
    position: absolute;
    right: 194px;
    bottom: -171px;
}
.foot{
    display:flex;
    color:darkgray;
    margin-right: 176.5px;
    margin-left:176.5px;
    gap:220px;
    font-family:'Yu gothic';
    font-size:13px;
    padding-top: 10px;
}